

/* Mobile View */

@media only screen and (max-width: 768px) {
body{
width: 480px;
}

body {
  margin: auto;
}

/* Don't forget to substract 2px for the 1px border */
#a { 
  width: 478px;
  height: 73px;
  line-height: 73px;
}

#b { 
  width: 478px;
  height: 148px;
  line-height: 148px;
}

#c, #d { 
  width: 478px;
  height: 123px;
  line-height: 123px;
}

#e, #f { 
  width: 238px;
  height: 246px;
  line-height: 246px;
}

#g, #h { 
  width: 238px;
  height: 246px;
  line-height: 246px;
}

#e, #g {
 float:left;
}

#f, #h {
  float: right;
}

#i {
  width:478px;
  height: 73px;
  float: left;
}

.sideBySide {
  max-height: 480px;
  max-height: 250px;
}

}

@media only screen and (min-width: 769px) {
    
  #contTwo{
      float: left;
  }
  
  /* Don't forget to substract 2px for the 1px border */
  #a {
      width: 955px;
      height: 98px;
      line-height: 98px;
  }
  
  #b {
      width: 198px;
      height: 598px;
      float: left;
      line-height: 598px;
  }
  #c, #d {
      width: 372px;
      height: 198px;
      line-height: 198px;
  }
  
  #c {
      float: left;
  }

  #d {
    float: right;
  }
  
  #e, #f, #g, #h {
      width: 183px;
      height: 248px;
      line-height: 248px;
  }
  
  #e, #f, #g, #h {
      float: left;
  }    
  
  #i {
      width: 750px;
      height: 140px;
      line-height: 148px;
      float: left;
  }
  
  #sideBySide {
      width: 760px;
  }
  }